header {
    width: 1440px;
    height: 124px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    display: flex;
    flex-direction: column;
}

.header__lines {
    display: flex;
}

.header_redLine {
    width: 405px;
    height: 8px;
    flex-shrink: 0;
    background: #E50050;
}

.header_greenLine {
    width: 1036px;
    height: 8px;
    flex-shrink: 0;
    background: #4DAF8A;
}

#logoOne {
    width: 180.936px;
    height: 78px;
    flex-shrink: 0;
    top: 31px;
    right: 1137px;
    bottom: 15px;
    left: 122px;
    position: absolute;
}

#locationIcon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    top: 33px;
    right: 992px;
    bottom: 58px;
    left: 418px;
    position: absolute;
}

.header__main_locaion {
    margin: 25px 512px 1490px 463px;
    display: flex;
    flex-direction: column;
}

.header__main_locaion h3 {
    margin-top: 0;
    color: #000;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    flex-direction: column;

}

.header__main_locaion a {
    width: 143px;
    height: 12px;
    flex-shrink: 0;
    color: #E50050;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    top: 56px;
    right: 835px;
    bottom: 56px;
    left: 460px;

}

#phoneIcon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    top: 30px;
    right: 364px;
    bottom: 62px;
    left: 1042px;
    position: absolute;
}

.header__main h2 {
    color: #000;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    top: 0px;
    right: 117px;
    bottom: 60px;
    left: 1086px;
    position: absolute;
}

.header__main_navigation {
    color: #000;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
#registration{
    top: 96px;
    right: 617px;
    bottom: 12px;
    left: 736px;
    position: absolute;
}
#about{
    top: 96px;
    right: 498px;
    bottom: 12px;
    left: 853px;
    position: absolute;
}
#patient{
    top: 96px;
    right: 406px;
    bottom: 12px;
    left: 972px;
    position: absolute;
}
#rate{
    top: 96px;
    right: 271px;
    bottom: 12px;
    left: 1064px;
    position: absolute;
}
#feedback{
    top: 96px;
    right: 121px;
    bottom: 12px;
    left: 1194px;
    position: absolute;
}